<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<!-- <h1 class="page-header">{{ 'Dashboard' | translate }}</h1> -->
				<h1 class="page-header">首页</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-2 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12 text-center">
								<div class="medium">{{stats[0]| number}}</div>
								<div>FO价格</div>
							</div>
						</div>
					</div>
					<!-- <a href="#" routerLink="/blocks">
						<div class="panel-footer">
							<span class="pull-left">{{ 'ViewDetails' | translate }}</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a> -->
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12 text-center">
								<div class="medium">{{blocksChain.last_irreversible_block_num}}</div>
								<div>不可逆区块</div>
							</div>
						</div>
					</div>
					<!-- <a href="#" routerLink="/blocks">
								<div class="panel-footer">
									<span class="pull-left">{{ 'ViewDetails' | translate }}</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a> -->
				</div>
			</div>

			<div class="col-lg-2 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12 text-center">
								<div class="medium">{{blocksChain.head_block_num}}</div>
								<div>最新区块</div>
							</div>
						</div>
					</div>
					<!-- <a href="#" routerLink="/blocks">
								<div class="panel-footer">
									<span class="pull-left">{{ 'ViewDetails' | translate }}</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a> -->
				</div>
			</div>

			<div class="col-lg-2 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12 text-center">
								<div class="medium">最新区块时间</div>
								<div>{{blocksChain.head_block_time |date:'yyyy-MM-dd hh:mm:ss'}}</div>
							</div>
						</div>
					</div>
					<!-- <a href="#" routerLink="/blocks">
										<div class="panel-footer">
											<span class="pull-left">{{ 'ViewDetails' | translate }}</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
											<div class="clearfix"></div>
										</div>
									</a> -->
				</div>
			</div>


			<div class="col-lg-2 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12 text-center">
								<div class="medium">节点数量</div>
								<div>总计：{{stats[1]| number}} / 在线：{{stats[2]| number}}</div>
							</div>
						</div>
					</div>
					<!-- <a href="#" routerLink="/blocks">
							<div class="panel-footer">
								<span class="pull-left">{{ 'ViewDetails' | translate }}</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a> -->
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<!-- <div class="col-xs-3">
								<i class="fa fa-files-o fa-5x"></i>
							</div> -->
							<div class="col-xs-12 text-center">
								<div class="medium">{{stats[3]}}</div>
								<div>网络投票数</div>
							</div>
						</div>
					</div>
					<!-- <a href="#" routerLink="/actions">
						<div class="panel-footer">
							<span class="pull-left">{{ 'ViewDetails' | translate }}</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a> -->
				</div>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						节点列表

						<!-- <div class="pull-right">
							<button type="button" routerLink="/blocks" class="btn btn-outline btn-info btn-xs">
								{{ 'ViewAll' | translate }}
							</button>
						</div> -->

					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!producers"></app-loading>
						<div *ngIf="producers" class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>排名</th>
										<th>节点名</th>
										<th>账号</th>
										<th>投票比例</th>
										<th>投票数量</th>
										<th>位置</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let producer of producers">
										<td>{{producer.num}}</td>
										<td>{{producer.owner}}</td>
										<td>{{producer.owner}}</td>
										<td>{{producer.vote_rate}}</td>
										<td>{{producer.total_votes}}</td>
										<td>{{producer.location}}</td>
										<td style="position:relative">
											<span style="opacity:0">{{producer.is_active}}</span>
											{{ producer.is_active} == 1 ?
											<div style="position: absolute;top: 36%;width:10px;height:10px;background:#5eba00;border-radius: 50%;">
											</div> :
											<div style="position: absolute;top: 36%;width:10px;height:10px;background:black;border-radius: 50%;">
											</div>
											}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</app-page>